fastapi
uvicorn
SQLAlchemy
psycopg2-binary
pydantic-settings
python-dotenv
cryptography
python-multipart
python-jose
pydantic[email]
passlib
seqlog
cloudinary
google_auth_oauthlib
google-api-python-client
google-generativeai
python-socketio
google-cloud-speech
bcrypt==4.0.1
alembic
user-agents
apscheduler
openpyxl
pandas
stripe
reportlab
python-docx
google-generativeai